*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
h1{
    font-size: 55px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 800;
    color: #0ff;
    text-shadow: 4px 4px rgb(255, 0, 0);
}
.container{
    width: 90%;
    margin: 0 auto;
}
.galery{
    padding: 10px;
    background-color: crimson;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 100px;
    grid-auto-flow: dense;
    border-radius: 10px;
}
.galery div{
    border-radius: 10px;
}
.row{
   grid-row: span 2;
   background-color: blue;
    border: 1px solid #fff;
}
.column{
   grid-column: span 2;
   background-color: gold;
    border: 1px solid #fff;
}
.full{
    grid-row: span 2;
    grid-column: span 2;
    background-color: green;
    border: 1px solid #fff;
}
.normal{
    grid-row: span 1;
    grid-column:  span 1;
    background-color: silver;
    border: 1px solid #fff;
}
div img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}